services:
  - type: web
    name: my-flask-app
    env: python
    plan: free
    buildCommand: pip install -r requirements.txt
    preDeployCommand: flask --app main:create_app db upgrade && flask --app main:create_app db current
    startCommand: flask --app main:create_app db upgrade && flask --app main:create_app db current && gunicorn "main:create_app()" --bind 0.0.0.0:$PORT --timeout 180 --graceful-timeout 30 --keep-alive 5 --workers ${WEB_CONCURRENCY:-2}
    autoDeploy: true
    envVars:
      - key: FLASK_APP
        value: main:create_app
